@font-face {
  font-family: Apercu;
  src: url("../font/Apercu-Font-Family/Apercu\ Pro\ Light.otf")
    format("opentype");
}

.App {
  font-family: Apercu;
  text-align: center;
}

.header {
  margin-bottom: 10px;
}
